= form_with(model: [ @article, @article.comments.build ], local: true) do |form|
    %div.input-group
        %div.input-group-prepend
            %span.input-group-text= current_user.email
        = form.text_area :body, :class => 'form-control'
    %div
        = form.submit :submit, class: 'btn btn-primary btn-lg'