%h3.alert.alert-primary="Articles: "
%div
    - @article.each do |article|
        %div.card
            %dl
                %dt.card-title
                    %a{:href => articles_path(@article)} 
                        = article.title
                %dd.card-text
                    = article.text