-# <h3>Articles: </h3>
-# <div>
-#     <% @article.each do |article| %>
-#         <div>
-#             <strong>Articles</strong> 
-#             <%= article.title %>
-#         </div>
-#         <div>
-#             <p><%= article.text %></p>
-#         </div>
-#     <% end %>
-# </div>

%h3="Articles: "
%div
    - @article.each do |article|
        %div
            %dl
                %dt
                    = article.title
                %dd
                    = article.text