%h3.alert.alert-primary="Comments: "
%div
    - @comments.each do |comment|
        %div.card
            %dl
                %dt.card-subtitle 
                    = comment.commenter
                %dd.card-text 
                    = comment.body